@font-face {
	font-family: 'AliasMedium';
	src: url('/fonts/RTAliasMedium-Regular.woff2') format('woff2'),
			 url('/fonts/RTAliasMedium-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AliasMedium';
	src: url('/fonts/RTAliasMedium-Bold.woff2') format('woff2'),
			 url('/fonts/RTAliasMedium-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'AliasMedium';
	src: url('/fonts/RTAliasMedium-Light.woff2') format('woff2'),
			 url('/fonts/RTAliasMedium-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'AliasMedium';
	src: url('/fonts/RTAliasMedium-RegularOblique.woff2') format('woff2'),
			 url('/fonts/RTAliasMedium-RegularOblique.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'AliasMedium';
	src: url('/fonts/RTAliasMedium-BoldOblique.woff2') format('woff2'),
			 url('/fonts/RTAliasMedium-BoldOblique.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'AliasMedium';
	src: url('/fonts/RTAliasMedium-LightOblique.woff2') format('woff2'),
			 url('/fonts/RTAliasMedium-LightOblique.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}




body {
	margin: 0;
	font-family: AliasMedium;
	color: white;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

p {
	max-width: 500px;
	line-height: 1.3;
	margin: 1em auto;
	font-size: 18px;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
